@using Newtonsoft.Json;
@{
    ViewBag.Title = "Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="feeform"></div>
<script type="text/javascript">
    @*var content = @Html.Raw(JsonConvert.SerializeObject(TempData["EmployeeData"]));*@
</script>
<script src="@Url.Content("../../React/fee/type.jsx")"></script>
@*<div>
    <div class="esubmenu">
        <ul class="breadcrumb float-left">
            <li><a href="#">Home /</a></li>
            <li><a href="#">Pictures /</a></li>
            <li><a href="#">Summer 15 /</a></li>
            <li><a href="#" class="active">Summer 15</a></li>
        </ul>
        <div class="ever float-right">
            <span>Version : 0.0.1</span>
        </div>
    </div>
    <div class="pagebody">
        <div class="einrformbase p-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#type">Fee Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#details">Fee Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#structure">Fee Structure</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active show" id="type">
                    <div class="einrformbase">
                        <ul class="einrform">
                            <li>
                                <div class="form-group">
                                    <label>Fee Name</label>
                                    <input type="text" class="form-control" placeholder="textbox" />
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>Payment Type</label>
                                    <input type="text" class="form-control" placeholder="should be dropdown" />
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>Month</label>
                                    <input type="text" class="form-control" placeholder="default disable. enable when user select fee collection month wise list of month show here with multiselect dropdown" />
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-info">Save</button>
                            </li>
                        </ul>
                    </div>
                    <div class="row cstdown clearfix">
                        <hr />
                        @*Ag grid code go here*@
                    @*</div>

                </div>
                <div class="tab-pane" id="details">
                    <div class="einrformbase">
                        <ul class="einrform">
                            <li>
                                <div class="form-group">
                                    <label>Academic Year</label>
                                    <input type="text" class="form-control" placeholder="should be dropdown" />
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <input type="text" class="form-control" placeholder="should be dropdown" />
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>Medium</label>
                                    <input type="text" class="form-control" placeholder="should be dropdown" />
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-info">Show</button>
                            </li>
                        </ul>
                    </div>
                    <div class="row cstdown clearfix">
                        <hr />*@
                        @*Ag grid code go here*@
                        @*<div class="text-center">
                            <button type="submit" class="btn btn-info">Save</button>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="structure">
                    <div class="einrformbase">
                        <ul class="einrform">
                            <li>
                                <div class="form-group">
                                    <label>Academic Year</label>
                                    <input type="text" class="form-control" placeholder="should be dropdown" />
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <input type="text" class="form-control" placeholder="should be dropdown" />
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label>Medium</label>
                                    <input type="text" class="form-control" placeholder="should be dropdown" />
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-info">Show</button>
                            </li>
                        </ul>
                    </div>
                    <div class="row cstdown clearfix">
                        <hr />*@
                        @*Ag grid code go here*@
                    @*</div>
                </div>
            </div>
        </div>
    </div>
</div>*@*
