@using Newtonsoft.Json;
<script type="text/javascript">
    document.title="Student Management";
    var content = @Html.Raw(JsonConvert.SerializeObject(TempData["StudentData"]));
    InitializeSelect();
    InitializeDate();
    InitializeSelectList();

</script>
<script src="~/Module_Script/student/manage.js"></script>
<div class="esubmenu">
    <ul class="breadcrumb float-left">
        <li><a href="#">Home /</a></li>
        <li><a href="#">Pictures /</a></li>
        <li><a href="#">Summer 15 /</a></li>
        <li><a href="#" class="active">Summer 15</a></li>
    </ul>
    <div class="ever float-right">
        <span>Version : 0.0.1</span>
    </div>
</div>
<div class="pagebody">
    <div class="einrformbase card pt-2 pl-2 pr-2">
        <div class="card-title">
            Student Management
        </div>
        <div class="card-body">
            <div class="efltrform"></div>
            <div class="action">
                <ul>
                    <li>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#student" class="btn btn-secondary custom">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="357px" height="357px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve">
                            <g>
                            <g id="add">
                            <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z" />
                                    </g>
                                </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="btn btn-secondary" onclick="onExportClick()">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64 c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472 c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z" />
                                    </g>
                                </g>
                            <g>
                            <g>
                            <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z" />
                                    </g>
                                </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <div class="text">
                            <div class="form-group">                          
                                <input type="text" class="form-control" placeholder="Student Code" style="height: 26px;border-radius: 3px;" name="stuCodeFilter" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Student Name" style="height: 26px;border-radius: 3px;" name="stuNameFilter" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ddl">
                            <div class="form-group">
                                 <select class="chosen-select ddl" id="stuCourseFilter" name="stuCourseFilter">
                                    <option value="0">Select Course</option>
                                </select>
                              
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ddl">
                            <div class="form-group">
                                <select class="chosen-select ddl" id="stuCategoryFilter" name="stuCategoryFilter">
                                    <option value="0">Select Category</option>
                                </select>

                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <button type="button" id="filterStudents" class="btn btn-info pd-x-20" onclick="getStudentDetails();"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span> Submit</button>
                    </li>


                </ul>
            </div>
            <div class="actionbse">
                <div id="studentGrid" style="height:350px;" class="ag-theme-balham"></div>
            </div>
        </div>
    </div>
</div>
<div id="student" class="modal fade">
    <div class="modal-dialog modal-dialog-vertical-center modal-lg" role="document">
        <div class="modal-content bd-0 tx-14">
            <form name='StudentAdmi' id="StudentAdmi" method="post" noValidate onSubmit="return handleSubmit(this);">
                <div class="modal-header">
                    <h6 class="tx-14 tx-uppercase tx-inverse tx-bold">Add/Edit Student</h6>
                    <button type="button" class="close" data-dismiss="modal" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body pd-25">
                    <div class="einrformbase">

                        <ul class="einrform ecustform">
                            <li>
                                <div class="text">
                                    <div class="form-group">
                                        <label for="stuCode">Student Code</label>
                                        <input type="text" class="form-control" disabled="disabled" style="background-color:ghostwhite" name="stuCode" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <div class="form-group">
                                        <label for="stuFirst">First Name</label>
                                        <input type="text" class="form-control" isRequired="true" name="stuFirst" />
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <div class="form-group">
                                        <label for="stuLast">Last Name</label>
                                        <input type="text" class="form-control" name="stuLast" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="stuAcade">Academic Year</label>
                                        <select class="chosen-select ddl"  name="stuAcade">
                                            <option value="0">Select Academic Year</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="stuCourse">Course</label>
                                        <select class="chosen-select ddl"   name="stuCourse">
                                            <option value="0">Select Course</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="stuSemester">Semester</label>
                                        <select class="chosen-select ddl" id="stuSemester" name="stuSemester">
                                            <option value="0">Select Semester</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="stuCategory">Category</label>
                                        <select class="chosen-select ddl" name="stuCategory">
                                            <option value="0">Select Category</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="empbse">
                            <div class="empimg">
                                <img id="userImg" src="#" />
                               
                            </div>
                            <div class="efinput">
                                Choose File
                                <input type="file" id="uploadedImg" onChange="uploadImages(this);" class="hide_file" />
                            </div>

                        </div>

                    </div>
                    <hr />
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active show personal" data-toggle="tab" href="#personal">Personal Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link contact" data-toggle="tab" href="#contact">Contact Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link subject" data-toggle="tab" href="#subject">Subject Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link academic" data-toggle="tab" href="#academic">Academic Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link account" data-toggle="tab" href="#account">Account Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link account" data-toggle="tab" href="#transport">Transport Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link account" data-toggle="tab" href="#hostel">Hostel Details</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="personal">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuFather">Father Name</label>
                                            <input type="text" class="form-control" isRequired="true" name="stuFather" />
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuMother">Mother Name</label>
                                            <input type="text" class="form-control"  name="stuMother" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stupSex">Gender</label>
                                            <select class="chosen-select ddl" isRequired="true" name="stuSex">
                                                <option value="0">Select Gender</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuDOB">Date Of Birth</label>
                                            <input type="text" class="form-control" placeholder="DD-MON-YYYY" isRequired="true" name="stuDOB" />
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuBGrp">Blood Group</label>
                                            <select class="chosen-select ddl" name="stuBGrp">
                                                <option value="0">Select Blood Group</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuNation">Nationality</label>
                                            <input type="text" class="form-control" name="stuNation" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuMTongue">Mother Tongue</label>
                                            <input type="text" class="form-control" name="stuMTongue" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuBirPlace">Place Of Birth</label>
                                            <input type="text" class="form-control" name="stuBirPlace" />
                                          
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuHandi">Are You Handicap?</label>
                                            <select class="chosen-select ddl" name="stuHandi">
                                                <option value="0">Select Handicap</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuPIncome">Parent Income(Annually)</label>
                                            <input type="text" class="form-control" name="stuPIncome" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="contact">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuAdres">Address Line 1</label>
                                            <input type="text" class="form-control" isRequired="true" name="stuAdres" />
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuAdres2">Address Line 2</label>
                                            <input type="text" class="form-control" name="stuAdres2" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="studCountry">Country</label>
                                            <select class="chosen-select ddl" name="studCountry">
                                                <option value="0">Select Country</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuState">State</label>
                                            <select class="chosen-select ddl" name="stuState">
                                                <option value="0">Select State</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuCity">City</label>
                                            <select class="chosen-select ddl" name="stuCity">
                                                <option value="0">Select City</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuZip">Zip Code</label>
                                            <input type="text" class="form-control" isNumeric="true" name="stuZip" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuMobile">Mobile No</label>
                                            <input type="text" class="form-control" maxlength="10" isRequired="true" lenCheck="true" max="10" isNumeric="true" name="stuMobile" />
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuPhone">Phone No</label>
                                            <input type="text" class="form-control" name="stuPhone" lenCheck="true" max="10" isNumeric="true" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" name="stuEmail" emailCheck="true"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="subject">
                            <div class="selectBox">
                                <div class="form-group">
                                    <label for="stuSub"></label>
                                    <select class="select-box" name="stuSub">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="academic">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuInst">Institute Name</label>
                                            <input type="text" class="form-control" name="stuInst" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuBoard">University/Board</label>
                                            <select class="chosen-select ddl" name="stuBoard">
                                                <option value="0">Select Board</option>
                                                <option value="1">UP</option>
                                                <option value="2">CBSE</option>
                                                <option value="3">ICSC</option>
                                                <option value="4">UK</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuPreCourse">Course</label>
                                            <select class="chosen-select ddl" name="stuPreCourse">
                                                <option value="0">Select Course</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">
                                        <div class="form-group">
                                            <label for="couCompli">Year Of Compilation</label>
                                            <input type="text" class="form-control chosen-date" name="stuComplYear" />
                                        </div>
                                        <span class="calendarbase"><img src="../../Images/calendar.png" /></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuMarks">Obtained Marks</label>
                                            <input type="text" class="form-control" name="stuMarks" isNumeric="true" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuPercent">Percentage(%)</label>
                                            <input type="text" class="form-control" name="stuPercent" isNumeric="true" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="account">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuLogin">Login Id</label>
                                            <input type="text" class="form-control" name="stuLogin" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuPwd">Password</label>
                                            <input type="password" class="form-control" name="stuPwd" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuCPwd">Confirm Password</label>
                                            <input type="password" class="form-control" name="stuCPwd" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuAccStat">Account Status</label>
                                            <select class="chosen-select ddl" name="stuAccStat">
                                                <option value="0">Select Account Status</option>
                                                <option value="1">Active</option>
                                                <option value="2">In-Active</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="transport">
                            <ul class="einrform">
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuTrans">Transport</label>
                                            <select class="chosen-select ddl" name="stuTrans">
                                                <option value="0">Select transport</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuRoute">Route Name</label>
                                            <select class="chosen-select ddl" name="stuRoute"></select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuVehTyp">Vehicle Type</label>
                                            <select class="chosen-select ddl" name="stuVehTyp"></select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuVehNo">Vehicle Number</label>
                                            <select class="chosen-select ddl" name="stuVehNo"></select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuVecAmt">Amount</label>
                                            <input type="text" class="form-control" name="stuVecAmt" isNumeric="true" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuVehStop">Stop Name</label>
                                            <select class="chosen-select ddl" name="stuVehStop"></select>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="hostel">
                            <ul class="einrform">
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuHostel">Hostel</label>
                                            <select class="chosen-select ddl" name="stuHostel">
                                                <option value="0">Select Hostel</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuHostelName">Hostel Name</label>
                                            <select class="chosen-select ddl"  name="stuHostelName"></select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuHostelFlr">Floor</label>
                                            <select class="chosen-select ddl"  name="stuHostelFlr"></select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="stuRoomTyp">Room Type</label>
                                            <select class="chosen-select ddl"  name="stuRoomTyp"></select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuRoomNo">Room Number</label>
                                            <input type="text" class="form-control"  name="stuRoomNo" isNumeric="true"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuBedNo">Bed Number</label>
                                            <input type="text" class="form-control"  name="stuBedNo" isNumeric="true"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="stuHostPrc">Price</label>
                                            <input type="text" class="form-control"  name="stuHostPrc" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info pd-x-20"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span> Save</button>
                    <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>