USE [master]
GO
/****** Object:  Database [eCampus]    Script Date: 07-02-2019 01:47:16 ******/
CREATE DATABASE [eCampus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eCampus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eCampus.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'eCampus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eCampus_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eCampus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eCampus]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_CUSTOMER_AMD]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  PROCEDURE [dbo].[SP_ADD_CUSTOMER_AMD]
(
    @P_CUSTOMER_NAME    NVARCHAR(200),
    @P_ADD_1			NVARCHAR(500),
	@P_ADD_2			NVARCHAR(500),
    @P_FAX_NO			NVARCHAR(200),
    @P_CITY				NVARCHAR(100),
    @P_MOBILE           NVARCHAR(100), 
	@P_PHONE			NVARCHAR(100),
    @P_EMAIL			NVARCHAR(100),
    @P_WEBSITE			NVARCHAR(100),
	@P_CUSTOMER_ID		NVARCHAR(100),
	@P_OPER_TYPE		CHAR,
	@P_FLAG			    CHAR   OUTPUT,
    @P_RSP_MSG          NVARCHAR(200) OUTPUT
	)
AS
	
	IF @P_OPER_TYPE='A' 
	BEGIN
	INSERT INTO MST_CUSTOMER VALUES(NULL,@P_CUSTOMER_NAME,NULL,'V','Y',NULL,@P_ADD_1,@P_ADD_2,@P_FAX_NO,@P_CITY,@P_MOBILE,@P_PHONE,@P_WEBSITE)
	SET @P_FLAG='S';
	SET @P_RSP_MSG='Customer Added Successfully';
	SET NOCOUNT ON;  
	SELECT CUSTOMER_ID,CUSTOMER_NAME,OPER_TYPE FROM MST_CUSTOMER;

	END
	ELSE IF @P_OPER_TYPE='M'
	BEGIN
	UPDATE MST_CUSTOMER SET CUSTOMER_NAME=@P_CUSTOMER_NAME,ADDRESS_PRIMARY=@P_ADD_1,ADDRESS_SECONDRY=@P_ADD_2,FAX_NO=@P_FAX_NO,CITY=@P_CITY,MOBILE= @P_MOBILE,PHONE= @P_PHONE,WEBSITE=@P_WEBSITE
	WHERE CUSTOMER_ID= @P_CUSTOMER_ID;
	SET @P_FLAG='S';
	SET @P_RSP_MSG='Customer Updated Successfully';
	SET NOCOUNT ON;  
	SELECT CUSTOMER_ID,CUSTOMER_NAME,OPER_TYPE FROM MST_CUSTOMER;
	END
	ELSE
	BEGIN
	DELETE FROM MST_CUSTOMER WHERE CUSTOMER_ID= @P_CUSTOMER_ID;
	SET @P_FLAG='S';
	SET @P_RSP_MSG='Customer Deleted Successfully';
	SET NOCOUNT ON;  
	SELECT CUSTOMER_ID,CUSTOMER_NAME,OPER_TYPE FROM MST_CUSTOMER;
	END


	

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_LOGIN]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_CHECK_LOGIN]
(
    @P_LOGINID           NVARCHAR(200),
    @P_PASSWORD			 NVARCHAR(100),
--    @P_RETRYCOUNT		 NUMERIC,
--    @P_COUNTRY_NAME		 NVARCHAR OUTPUT,
--    @P_COUNTRY_ID        NVARCHAR OUTPUT,
--    @P_REGION_NAME       NVARCHAR OUTPUT,
--    @P_REGION_ID         NVARCHAR OUTPUT,
--    @P_ZONE_NAME         NVARCHAR OUTPUT,
--    @P_ZONE_ID           NVARCHAR OUTPUT,
--    @P_CUST_ID           NVARCHAR OUTPUT,
--    @P_CUST_NAME         NVARCHAR OUTPUT,
    @P_USER_NAME         NVARCHAR(200) OUTPUT,
    @P_USER_ID           NVARCHAR(100) OUTPUT,
    @P_ROLE_ID           NVARCHAR(100) OUTPUT, 
--    @P_PASS_RESET_DAT    DATE	 OUTPUT,
--    @P_DEFAULT_PAGE      NVARCHAR OUTPUT,
--    @P_USER_CAT          NVARCHAR OUTPUT,
    @P_USER_CAT_ID       NVARCHAR(100) OUTPUT,
--    @P_USER_SUB_CAT      NVARCHAR OUTPUT,
--    @P_USER_SUB_CAT_ID   NVARCHAR OUTPUT
	@P_VERIFY_FLAG       CHAR    OUTPUT,
    @P_ERR_MSG           NVARCHAR(200) OUTPUT
	)
AS
	
	IF EXISTS (SELECT 1 FROM MST_USER_CREDENTIALS WHERE LOGIN_ID  = UPPER(@P_LOGINID) AND PASSWORD  = @P_PASSWORD) 
	BEGIN

	SET @P_VERIFY_FLAG = 'S';
	SET @P_USER_ID=(SELECT USER_ID  FROM MST_USER_CREDENTIALS WHERE LOGIN_ID =UPPER(@P_LOGINID));
	SET @P_USER_NAME= (SELECT FIRST_NAME FROM MST_USER_CREDENTIALS WHERE  LOGIN_ID =UPPER(@P_LOGINID));
	SET @P_ROLE_ID= (SELECT ROLE_ID  FROM MST_USER_ROLE WHERE  USER_ID =@P_USER_ID);
	SET @P_USER_CAT_ID= (SELECT CATEGORY_ID  FROM MST_USER_CATEGORY WHERE  USER_ID =@P_USER_ID);
	SET @P_ERR_MSG='Login Successfully';


	SELECT CUSTOMER_ID,CUSTOMER_NAME,OPER_TYPE FROM MST_CUSTOMER;

	IF @P_ROLE_ID=10-- 2 FOR SUPER ADMIN
	BEGIN
	SET @P_VERIFY_FLAG = 'D';
	SET NOCOUNT ON; 
	--SELECT CUSTOMER_ID,CUSTOMER_NAME,OPER_TYPE FROM MST_CUSTOMER;
	END

	SET NOCOUNT ON;  
	SELECT MF.FORM_ID, MM.MODULE_NAME, MF.FORM_CAPTION CAPTION, MF.LINK_NAME LINK ,MM.MODULE_ID MODULEID,MF.PARENT_ID,MFR.PROCESS_ID
		FROM MST_FORM_RIGHT MFR, MST_FORM MF, MST_MODULE MM
		WHERE MFR.FORM_ID = MF.FORM_ID
		AND MFR.MODULE_ID = MM.MODULE_ID
		AND MFR.ROLE_ID = @P_ROLE_ID
		--AND MF.PARENT_ID IS NULL
		AND MFR.PROCESS_ID = 'V' 
		ORDER BY MF.PARENT_ID, MF.FORM_ID;
	END
	ELSE 
	BEGIN
	SET @P_VERIFY_FLAG = 'F';
	SET @P_ERR_MSG='Login Failed';
	END;




	
GO
/****** Object:  UserDefinedFunction [dbo].[FNC_DECRYPT_PASS]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FNC_DECRYPT_PASS](@encryp varbinary(8000))
RETURNS nvarchar(4000)
AS
BEGIN
DECLARE @decript varbinary(4000)
SET @decript = DECRYPTBYPASSPHRASE('KEY',@encryp)
RETURN (@decript)
END

GO
/****** Object:  UserDefinedFunction [dbo].[FNC_ENCRYPT_PASS]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FNC_ENCRYPT_PASS](@str nvarchar(4000))
RETURNS varbinary(8000)
AS
BEGIN
DECLARE @encript varbinary(8000)
SET @encript = ENCRYPTBYPASSPHRASE('KEY',@str)
RETURN (@encript)
END

GO
/****** Object:  Table [dbo].[dual]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dual](
	[Dummy] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_CUSTOMER]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_CUSTOMER](
	[CUSTOMER_ID] [numeric](10, 0) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](100) NOT NULL,
	[LNG_CUSTOMER_NAME] [nvarchar](100) NULL,
	[OPER_TYPE] [char](1) NULL,
	[IS_ACTIVE] [char](1) NOT NULL,
	[SHORT_NAME] [nvarchar](50) NULL,
	[ADDRESS_PRIMARY] [nvarchar](500) NULL,
	[ADDRESS_SECONDRY] [nvarchar](500) NULL,
	[FAX_NO] [nvarchar](50) NULL,
	[CITY] [nvarchar](100) NULL,
	[MOBILE] [nvarchar](50) NULL,
	[PHONE] [nvarchar](50) NULL,
	[WEBSITE] [nvarchar](50) NULL,
 CONSTRAINT [PK_MST_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_FORM]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_FORM](
	[FORM_ID] [numeric](3, 0) NOT NULL,
	[FORM_CAPTION] [varchar](100) NULL,
	[FORM_STATUS] [varchar](1) NULL,
	[MODULE_ID] [numeric](2, 0) NULL,
	[FORM_SEQ] [numeric](3, 0) NULL,
	[LINK_NAME] [varchar](100) NULL,
	[LINK_CAPTION] [varchar](50) NULL,
	[MENU_NAME] [varchar](100) NULL,
	[PARENT_ID] [numeric](3, 0) NULL,
	[CREATED_BY] [varchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](100) NULL,
	[LAST_MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_MST_FORM] PRIMARY KEY CLUSTERED 
(
	[FORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_FORM_RIGHT]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_FORM_RIGHT](
	[FORM_ID] [numeric](3, 0) NULL,
	[PROCESS_ID] [varchar](1) NULL,
	[ROLE_ID] [numeric](2, 0) NULL,
	[MODULE_ID] [numeric](2, 0) NULL,
	[CREATED_DATE] [date] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[LAST_MODIFIED_DATE] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_MODULE]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_MODULE](
	[MODULE_ID] [numeric](2, 0) NOT NULL,
	[MODULE_NAME] [varchar](100) NOT NULL,
	[MODULE_STATUS] [varchar](1) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[LAST_MODIFIED_DATE] [date] NULL,
	[LAST_MODIFIED_BY] [varchar](1) NULL,
 CONSTRAINT [PK_MST_MODULE] PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_USER_CATEGORY]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_USER_CATEGORY](
	[USER_ID] [numeric](10, 0) NULL,
	[CATEGORY_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](100) NULL,
	[SUB_CATEGORY_ID] [numeric](10, 0) NULL,
	[SUB_CATEGORY_NAME] [varchar](100) NULL,
	[WEF_DATE] [datetime] NULL,
	[WET_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_USER_CREDENTIALS]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MST_USER_CREDENTIALS](
	[USER_ID] [numeric](10, 0) NOT NULL,
	[FIRST_NAME] [varchar](100) NULL,
	[MIDDLE_NAME] [varchar](100) NULL,
	[LAST_NAME] [varchar](100) NULL,
	[LOGIN_ID] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[PASS_RESET_DATE] [date] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[CREATED_DATE] [date] NULL,
	[LAST_MODIFIED_BY] [varchar](100) NULL,
	[LAST_MODIFIED_DATE] [datetime] NULL,
	[DEVICE_ID] [varchar](1000) NULL,
	[IMEI_NO] [varchar](100) NULL,
	[ACCOUNT_LOCKED] [char](1) NULL,
	[ACTIVE_USER] [numeric](1, 0) NULL,
 CONSTRAINT [PK_MST_USER_CREDENTIALS] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MST_USER_ROLE]    Script Date: 07-02-2019 01:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_USER_ROLE](
	[USER_ID] [numeric](10, 0) NOT NULL,
	[ROLE_ID] [numeric](10, 0) NOT NULL,
	[WEF_DATE] [datetime] NOT NULL,
	[WET_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_DATE] [datetime] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[dual] ([Dummy]) VALUES (N'XX')
INSERT [dbo].[MST_CUSTOMER] ([CUSTOMER_ID], [CUSTOMER_NAME], [LNG_CUSTOMER_NAME], [OPER_TYPE], [IS_ACTIVE], [SHORT_NAME], [ADDRESS_PRIMARY], [ADDRESS_SECONDRY], [FAX_NO], [CITY], [MOBILE], [PHONE], [WEBSITE]) VALUES (CAST(1 AS Numeric(10, 0)), N'IMS DEHRADUN', N'IMS_DEHRADUN', N'V', N'Y', N'XYZ', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MST_CUSTOMER] ([CUSTOMER_ID], [CUSTOMER_NAME], [LNG_CUSTOMER_NAME], [OPER_TYPE], [IS_ACTIVE], [SHORT_NAME], [ADDRESS_PRIMARY], [ADDRESS_SECONDRY], [FAX_NO], [CITY], [MOBILE], [PHONE], [WEBSITE]) VALUES (CAST(2 AS Numeric(10, 0)), N'IMS DELHI', N'IMS_DELHI', N'V', N'Y', N'XYZ', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MST_CUSTOMER] ([CUSTOMER_ID], [CUSTOMER_NAME], [LNG_CUSTOMER_NAME], [OPER_TYPE], [IS_ACTIVE], [SHORT_NAME], [ADDRESS_PRIMARY], [ADDRESS_SECONDRY], [FAX_NO], [CITY], [MOBILE], [PHONE], [WEBSITE]) VALUES (CAST(3 AS Numeric(10, 0)), N'IMS GAJIABAD', N'IMS_GAJIABAD', N'V', N'Y', N'XYZ', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MST_FORM] ([FORM_ID], [FORM_CAPTION], [FORM_STATUS], [MODULE_ID], [FORM_SEQ], [LINK_NAME], [LINK_CAPTION], [MENU_NAME], [PARENT_ID], [CREATED_BY], [CREATED_DATE], [LAST_MODIFIED_BY], [LAST_MODIFIED_DATE]) VALUES (CAST(1 AS Numeric(3, 0)), N'Masters', N'A', CAST(1 AS Numeric(2, 0)), CAST(1 AS Numeric(3, 0)), N'Basic/Info', N'Masters', NULL, NULL, N'Admin', CAST(0x0000A9E4013AF49F AS DateTime), NULL, NULL)
INSERT [dbo].[MST_FORM] ([FORM_ID], [FORM_CAPTION], [FORM_STATUS], [MODULE_ID], [FORM_SEQ], [LINK_NAME], [LINK_CAPTION], [MENU_NAME], [PARENT_ID], [CREATED_BY], [CREATED_DATE], [LAST_MODIFIED_BY], [LAST_MODIFIED_DATE]) VALUES (CAST(2 AS Numeric(3, 0)), N'Academic Year', N'A', CAST(1 AS Numeric(2, 0)), CAST(2 AS Numeric(3, 0)), N'Site/Master', N'Academic Year', NULL, CAST(1 AS Numeric(3, 0)), N'Admin', CAST(0x0000A9E4013AF49F AS DateTime), NULL, NULL)
INSERT [dbo].[MST_FORM] ([FORM_ID], [FORM_CAPTION], [FORM_STATUS], [MODULE_ID], [FORM_SEQ], [LINK_NAME], [LINK_CAPTION], [MENU_NAME], [PARENT_ID], [CREATED_BY], [CREATED_DATE], [LAST_MODIFIED_BY], [LAST_MODIFIED_DATE]) VALUES (CAST(3 AS Numeric(3, 0)), N'Course', N'A', CAST(1 AS Numeric(2, 0)), CAST(3 AS Numeric(3, 0)), N'Holiday/Details', N'Course', NULL, CAST(1 AS Numeric(3, 0)), N'Admin', CAST(0x0000A9E4013AF49F AS DateTime), NULL, NULL)
INSERT [dbo].[MST_FORM_RIGHT] ([FORM_ID], [PROCESS_ID], [ROLE_ID], [MODULE_ID], [CREATED_DATE], [CREATED_BY], [LAST_MODIFIED_DATE], [LAST_MODIFIED_BY]) VALUES (CAST(1 AS Numeric(3, 0)), N'V', CAST(0 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(0x3F3F0B00 AS Date), N'Admin', NULL, NULL)
INSERT [dbo].[MST_FORM_RIGHT] ([FORM_ID], [PROCESS_ID], [ROLE_ID], [MODULE_ID], [CREATED_DATE], [CREATED_BY], [LAST_MODIFIED_DATE], [LAST_MODIFIED_BY]) VALUES (CAST(2 AS Numeric(3, 0)), N'V', CAST(0 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(0x3F3F0B00 AS Date), N'Admin', NULL, NULL)
INSERT [dbo].[MST_FORM_RIGHT] ([FORM_ID], [PROCESS_ID], [ROLE_ID], [MODULE_ID], [CREATED_DATE], [CREATED_BY], [LAST_MODIFIED_DATE], [LAST_MODIFIED_BY]) VALUES (CAST(3 AS Numeric(3, 0)), N'V', CAST(0 AS Numeric(2, 0)), CAST(1 AS Numeric(2, 0)), CAST(0x3F3F0B00 AS Date), N'Admin', NULL, NULL)
INSERT [dbo].[MST_MODULE] ([MODULE_ID], [MODULE_NAME], [MODULE_STATUS], [CREATED_DATE], [CREATED_BY], [LAST_MODIFIED_DATE], [LAST_MODIFIED_BY]) VALUES (CAST(1 AS Numeric(2, 0)), N'Masters', N'A', CAST(0x0000A9E40137A3D2 AS DateTime), N'Admin', NULL, NULL)
INSERT [dbo].[MST_MODULE] ([MODULE_ID], [MODULE_NAME], [MODULE_STATUS], [CREATED_DATE], [CREATED_BY], [LAST_MODIFIED_DATE], [LAST_MODIFIED_BY]) VALUES (CAST(2 AS Numeric(2, 0)), N'Admission', N'A', CAST(0x0000A9E40137A3D2 AS DateTime), N'Admin', NULL, NULL)
INSERT [dbo].[MST_MODULE] ([MODULE_ID], [MODULE_NAME], [MODULE_STATUS], [CREATED_DATE], [CREATED_BY], [LAST_MODIFIED_DATE], [LAST_MODIFIED_BY]) VALUES (CAST(3 AS Numeric(2, 0)), N'Time Table', N'A', CAST(0x0000A9E40137A3D2 AS DateTime), N'Admin', NULL, NULL)
SET IDENTITY_INSERT [dbo].[MST_USER_CATEGORY] ON 

INSERT [dbo].[MST_USER_CATEGORY] ([USER_ID], [CATEGORY_ID], [CATEGORY_NAME], [SUB_CATEGORY_ID], [SUB_CATEGORY_NAME], [WEF_DATE], [WET_DATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), N'Admin', NULL, NULL, CAST(0x0000A9E5014A650C AS DateTime), NULL, N'Admin', CAST(0x0000A9E5014A650C AS DateTime), NULL, N'Admin')
INSERT [dbo].[MST_USER_CATEGORY] ([USER_ID], [CATEGORY_ID], [CATEGORY_NAME], [SUB_CATEGORY_ID], [SUB_CATEGORY_NAME], [WEF_DATE], [WET_DATE], [CREATED_BY], [CREATED_DATE], [MODIFIED_DATE], [MODIFIED_BY]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(2 AS Numeric(10, 0)), N'SUPER ADMIN', NULL, NULL, CAST(0x0000A9EB0140D698 AS DateTime), NULL, N'ADMIN', CAST(0x0000A9EB0140D698 AS DateTime), NULL, N'ADMIN')
SET IDENTITY_INSERT [dbo].[MST_USER_CATEGORY] OFF
INSERT [dbo].[MST_USER_CREDENTIALS] ([USER_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [LOGIN_ID], [PASSWORD], [PASS_RESET_DATE], [CREATED_BY], [CREATED_DATE], [LAST_MODIFIED_BY], [LAST_MODIFIED_DATE], [DEVICE_ID], [IMEI_NO], [ACCOUNT_LOCKED], [ACTIVE_USER]) VALUES (CAST(1 AS Numeric(10, 0)), N'SUNIL', NULL, NULL, N'ADMIN', N'/NNfWRStbZsUyc88S5tjhA==', NULL, N'ADMIN', CAST(0x403F0B00 AS Date), NULL, NULL, NULL, NULL, N'N', CAST(0 AS Numeric(1, 0)))
INSERT [dbo].[MST_USER_CREDENTIALS] ([USER_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [LOGIN_ID], [PASSWORD], [PASS_RESET_DATE], [CREATED_BY], [CREATED_DATE], [LAST_MODIFIED_BY], [LAST_MODIFIED_DATE], [DEVICE_ID], [IMEI_NO], [ACCOUNT_LOCKED], [ACTIVE_USER]) VALUES (CAST(2 AS Numeric(10, 0)), N'SUPER', N'ADMIN', N'SUPER', N'RR', N'/NNfWRStbZsUyc88S5tjhA==', NULL, N'SUNIL', CAST(0x463F0B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MST_USER_ROLE] ([USER_ID], [ROLE_ID], [WEF_DATE], [WET_DATE], [CREATED_BY], [CREATED_DATE]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(0 AS Numeric(10, 0)), CAST(0x0000A9E800DB846A AS DateTime), NULL, N'ADMIN', CAST(0x0000A9E800DB846A AS DateTime))
INSERT [dbo].[MST_USER_ROLE] ([USER_ID], [ROLE_ID], [WEF_DATE], [WET_DATE], [CREATED_BY], [CREATED_DATE]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(10 AS Numeric(10, 0)), CAST(0x0000A9EB014F739B AS DateTime), NULL, N'ADMIN', CAST(0x0000A9EB014F739B AS DateTime))
ALTER TABLE [dbo].[MST_CUSTOMER] ADD  DEFAULT ('Y') FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[MST_MODULE] ADD  DEFAULT ('A') FOR [MODULE_STATUS]
GO
ALTER TABLE [dbo].[MST_MODULE] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[MST_MODULE] ADD  DEFAULT ('Admin') FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[MST_USER_CREDENTIALS] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[MST_USER_CREDENTIALS] ADD  DEFAULT ('N') FOR [ACCOUNT_LOCKED]
GO
ALTER TABLE [dbo].[MST_USER_ROLE] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
USE [master]
GO
