@using Newtonsoft.Json;
<script type="text/javascript">
    document.title="Subject"
    var content = @Html.Raw(JsonConvert.SerializeObject(TempData["SubjectData"]));
    InitializeSelect();
</script>
<script src="~/Module_Script/master/subject.js"></script>
<div class="esubmenu">
    <ul class="breadcrumb float-left">
        <li><a href="#">Home /</a></li>
        <li><a href="#">Pictures /</a></li>
        <li><a href="#">Summer 15 /</a></li>
        <li><a href="#" class="active">Summer 15</a></li>
    </ul>
    <div class="ever float-right">
        <span>Version : 0.0.1</span>
    </div>
</div>
<div class="pagebody">
    <div class="einrformbase card pt-2 pl-2 pr-2">
        <div class="card-title">
            Subject Management
        </div>
        <div class="card-body">
            <form name='SubjectForm' id="SubjectForm" method="post" noValidate onSubmit="return handleSubmit(this);">
                <ul class="einrform">
                    <li>
                        <div class="text">
                            <div class="form-group">
                                <label for="subjectCode">Subject Code</label>
                                <input type="text" class="form-control" name="subjectCode" />
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <div class="form-group">
                                <label for="subjectName">Subject Name</label>
                                <input type="text" class="form-control" name="subjectName" />
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <div class="form-group">
                                <label for="shortName">Short Name</label>
                                <input type="text" class="form-control" name="shortName" />
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ddl">
                            <div class="form-group">
                                <label for="medium">Medium</label>
                                <select class="chosen-select" name="medium" id="ddlMedium">
                                    <option value="0">Select Status</option>
                                </select>
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ddl">
                            <div class="form-group">
                                <label for="subjectType">Subject Type</label>
                                <select class="chosen-select" name="subjectType" id="ddlSubType">
                                    <option value="0">Select Status</option>
                                </select>
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ddl">
                            <div class="form-group">
                                <label for="active">Status</label>
                                <select class="chosen-select" name="active" id="ddlActive">
                                    <option value="0">Select Status</option>
                                </select>
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="text" style="display:none" value="" name="subjectId" />
                        <input type="text" style="display:none" value="A" name="flag" />
                        <input type="text" style="display:none" value="5" name="reportId" />
                        <button type="submit" class="btn btn-info"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span>Save</button>
                    </li>
                </ul>
            </form>
            <div class="actionbse">
                <div id="subjectGrid" style="height:350px;" class="ag-theme-balham"></div>
            </div>
        </div>
    </div>
</div>
