html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    color: #333;
    /*font-family: 'Montserrat', sans-serif;*/
    font: 12px 'Montserrat', sans-serif;
    /*font-size: 12px;*/
    line-height: 1.42857;
    overflow-x: hidden;
    /*letter-spacing: 0.9px;*/
    /*background: #EDF1F5;*/
}

intopmenu img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #121214;
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

p {
    color: #777;
    line-height: 24px;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    color: #0091ae;
}

    a:hover {
        text-decoration: none;
        color: #337ab7;
        transition: all 0.4s ease-in-out;
    }

    a:focus {
        text-decoration: none;
    }

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.lgnheader {
    background: #2E3F50;
}


.rmenu {
    width: 100%;
}

    .rmenu > ul {
        float: right;
    }

        .rmenu > ul > li {
            display: block;
            float: left;
        }

            .rmenu > ul > li > span {
                color: #fff;
                padding: 15px;
                display: block;
                cursor: pointer;
                font-weight: 600;
                border-right: 1px solid rgba(255,255,255,0.1);
            }

.banner {
    background-image: linear-gradient(to right, #00a4bd, #00bda5);
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 450px;
    z-index: 1;
}

.banner-circle {
    background-image: url(../Images/circle.svg);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: 50%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 4em;
    display: inline-block;
    -webkit-animation: floatCircle 10s linear infinite;
    animation: floatCircle 10s linear infinite;
}

@-webkit-keyframes floatCircle {
    0% {
        background-position: 0% -100%;
    }

    100% {
        background-position: 0% 200%;
    }
}

@keyframes floatCircle {
    0% {
        background-position: 0% -100%;
    }

    100% {
        background-position: 0% 200%;
    }
}

.bnrdtl {
    margin-top: 20px;
}

    .bnrdtl > h1 {
        font-weight: 500;
        color: #fff;
    }

    .bnrdtl > p {
        color: #fff;
    }

    .bnrdtl > a {
        color: #33475b;
        background-color: #fff;
        padding: 20px;
        display: inline-block;
        border-radius: 4px;
        font-size: 1em;
        font-weight: 600;
        margin-top: 20px;
    }

        .bnrdtl > a:hover {
            background-color: #f5f8fa;
        }

.form-control {
    background: #fff;
    border-color: rgb(203, 214, 226) rgb(203, 214, 226) rgb(203, 214, 226);
    border-radius: 3px;
    font-size: 12px;
    height: 35px;
    box-shadow: none;
}

    .form-control:focus {
        border: solid 1px rgb(21, 137, 238);
        box-shadow: 0 0 3px #0070d2;
    }

.lgnform {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 30px 40px;
    background: #ffffff;
    border: 1px, solid, #cbcbcb;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
    float: right;
}

.tpara {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

    .tpara > span:nth-child(1) {
        font-size: 18px;
        border-bottom: 2px solid #ea2330;
        font-weight: 600;
    }

    .tpara > span:nth-child(2) {
        font-weight: 600;
        color: #808080;
        margin-top: 10px;
    }

        .tpara > span:nth-child(2) a {
            color: #4050ce !important;
            font-weight: 700;
        }

.btn-success {
    background: #00887a;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid #00887a;
    border-color: #00887a;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 2px 0px #cdcdcd;
    -moz-box-shadow: 0px 2px 2px 0px #cdcdcd;
    -ms-box-shadow: 0px 2px 2px 0px #cdcdcd;
    /* box-shadow: 0px 2px 2px 0px #cdcdcd; */
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success {
        background: #02665c;
        border-color: #02665c;
        outline: none;
        box-shadow: 0px 2px 2px 0px #cdcdcd;
    }

    .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
        background: #02665c;
        border-color: #02665c;
        outline: none;
        box-shadow: 0px 2px 2px 0px #cdcdcd;
    }

    .btn-success.disabled, .btn-success:disabled {
        background: #02665c;
        border-color: #02665c;
        color: #fff;
    }

.lgnform > .form-group > label {
    float: left;
    font-size: 12px;
    font-weight: 500;
}

.frgt {
    line-height: 0px;
}

    .frgt > a {
        font-size: 11px;
        font-weight: 600;
        text-decoration: underline;
    }

.latestnews {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #f4f4f4;
    width: 100%;
}

    .latestnews > span {
        padding: 20px;
        display: block;
        float: left;
        color: #fff;
        font-size: 1.1em;
        font-weight: 600;
        /* border: 1px solid; */
        background: #00B0B2;
    }

    .latestnews > svg {
        margin-top: 8px;
        font-size: 40px;
        margin-left: -2px;
        color: #00B0B2;
        float: left;
    }

    .latestnews > .news-content {
        margin-top: 10px;
        float: left;
        margin-left: 0px;
        padding: 10px;
    }

.lgnftr {
    background: #2E3F50;
    padding: 10px;
    clear: both;
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    /*margin-top: -40px;*/
}

.input-validation-error {
    border-color: #f2545b !important;
    /*box-shadow: 0 0 0 1px #f2545b !important;*/
}

.field-validation-error {
    font-size: 10px;
    margin-top: 5px;
    font-weight: 500;
    color: #f2545b !important;
    display: block;
    text-align: left;
}

.field-validation-success {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
    color: green !important;
    display: block;
}

.header {
    width: 100%;
    background: #2E3F50;
    height: 49px;
    border-top: 3px solid #00887a;
    position: fixed;
    z-index: 999999;
}

.rtopcon {
    text-align: right;
}

    .rtopcon > ul > li {
        display: inline-block;
        margin: 8px;
        margin-right: 10px;
    }

        .rtopcon > ul > li > a {
            display: block;
            padding: 6px;
            border: 2px solid #fff;
            border-radius: 35px;
            height: 30px;
            width: 30px;
            text-align: center;
            color: #fff;
            transition: all 0.4s ease-in-out;
        }

        .rtopcon > ul > li:hover > a {
            color: #ea2330;
            border: 2px solid #00BCA6;
            cursor: pointer;
        }

.dashbdy {
    background: #F4F5F8;
}

.userinfo {
    margin: 0px !important;
    padding: 14px;
    background: #293848;
    border-left: 1px solid #000;
    cursor: pointer;
}

    .userinfo > a {
        height: auto !important;
        width: auto !important;
        border: none !important;
        padding: 0px !important;
        font-size: 12px !important;
        color: #fff !important;
        font-weight: 500;
    }

        .userinfo > a > span > svg {
            font-size: 16px;
            margin-left: 8px;
            float: right;
        }

.userinfoactive {
    background: #19212B;
}

.arrow_box {
    position: absolute;
    background: #fff;
    /* border: 1px solid #ccc; */
    /* margin-top: 25px; */
    margin-left: 96%;
    margin-top: 11px;
    z-index: 99999999;
}

    .arrow_box:after, .arrow_box:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 13.2px;
        margin-left: -30px;
    }

    .arrow_box:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #cbd6e2;
        border-width: 15px;
        margin-left: -31.4px;
    }

.top-sub-menu {
    display: none;
    margin-top: 10px;
    position: absolute;
    /* width: 20%; */
    z-index: 9999999;
    right: 7px;
}

.top-sub-menu-inner {
    background: #fff;
    border: 1px solid #cbd6e2;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.pro-base {
    display: inline-block;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #cbd6e2;
}

.pro-img {
    display: block;
    float: left;
    overflow: hidden;
    border-radius: 70px;
    height: 60px;
    width: 60px;
}

    .pro-img img {
        height: 100%;
        width: 100%;
    }

.pro-name {
    float: left;
    display: inline-block;
    margin-left: 10px;
}

    .pro-name span {
        display: block;
        width: 100%;
        line-height: 20px;
    }

.pro-user-name {
    font-size: 12px;
    color: #33475b;
    font-weight: 600;
}

.pro-user-email {
    color: #7c98b6;
    font-size: 11px;
}

.pro-user-setting a {
    font-size: 12px;
    color: #0091ae;
}

.pro-menu {
    border-bottom: 1px solid #cbd6e2;
}

    .pro-menu li {
        display: block;
        width: 100%;
    }

        .pro-menu li a {
            color: #33475b;
            padding: 5px 10px;
            display: block;
            font-size: 12px;
        }

            .pro-menu li a:hover {
                text-decoration: underline;
            }

.pro-footer {
    display: inline-block;
    width: 100%;
}

    .pro-footer span a {
        display: block;
        padding: 5px 10px;
    }

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #2E3F50;
    width: 15%;
    transition: all 0.4s ease-in-out;
}

.scol {
    width: 0px !important;
    transition: all 0.4s ease-in-out;
}

.rconcol {
    width: 100% !important;
    transition: all 0.4s ease-in-out;
}

.ltopcon {
    width: 17%;
}

    .ltopcon > a {
        color: #fff;
        font-size: 18px;
        height: 100%;
        display: inline-block;
        padding: 12px;
        background: #00887a;
        float: right;
    }

.navigation-menu {
    height: 550px;
    overflow: hidden;
    margin-right: 2px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    margin-top: 50px;
}

    .navigation-menu::-webkit-scrollbar {
        width: 5px;
    }

    .navigation-menu::-webkit-scrollbar-track {
        border-radius: 10px;
        padding: 10px;
        display: none;
    }

    .navigation-menu::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(255, 255, 255, .7);
    }

    .navigation-menu > ul > li {
        margin-bottom: -10px;
        width: 228px;
    }

        .navigation-menu > ul > li > a {
            display: block;
            padding: 15px 10px;
            /* font-size: 1em; */
            font-weight: 500;
            border-bottom: 1px solid #404854;
            color: #fff;
            transition: all 0.4s ease-in-out;
            height: 45px;
            border-left: 3px solid #2E3F50;
        }

            .navigation-menu > ul > li > a > p {
                line-height: 23px;
                font-size: 0.9em;
                margin: 0px;
            }

            .navigation-menu > ul > li > a:hover {
                background: rgba(255, 255, 255, .08);
                cursor: pointer;
                border-left: 3px solid #00887a;
            }

            .navigation-menu > ul > li > a svg {
                margin-right: 5px;
                float: right;
                -moz-transition: all 0.4s linear;
                -webkit-transition: all 0.4s linear;
                transition: all 0.4s linear;
            }

.navigation-menu-active {
    background: rgba(255, 255, 255, .08) !important;
}

.down {
}

.click-remove {
    border-bottom: 1px solid #19212B !important;
    background: #19212B !important;
    transition: all 0.4s ease-in-out;
    border-left: 3px solid #00887a !important;
}

    .click-remove > p {
        display: none;
    }

    .click-remove > svg {
        -moz-transform: rotate(180deg) !important;
        -webkit-transform: rotate(180deg) !important;
        transform: rotate(180deg) !important;
    }

.hm3 {
    height: 90px !important;
    transition: all 0.4s ease-in-out;
}

.hm4 {
    height: 120px !important;
    transition: all 0.4s ease-in-out;
}

.hm5 {
    height: 150px !important;
    transition: all 0.4s ease-in-out;
}

.hm6 {
    height: 180px !important;
    transition: all 0.4s ease-in-out;
}

.hm7 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm8 {
    height: 245px !important;
    transition: all 0.4s ease-in-out;
}

.hm9 {
    height: 272px !important;
    transition: all 0.4s ease-in-out;
}

.hm10 {
    height: 300px !important;
    transition: all 0.4s ease-in-out;
}

.hm11 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm12 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm13 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm14 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm15 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm16 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm17 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm18 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm19 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.hm20 {
    height: 210px !important;
    transition: all 0.4s ease-in-out;
}

.smenu {
    background: #19212B;
    margin-bottom: 10px;
    display: block;
    height: 0px;
    transition: all 0.4s ease-in-out;
    overflow: auto;
    width: 98%;
}

    .smenu::-webkit-scrollbar {
        width: 5px;
    }

    .smenu::-webkit-scrollbar-track {
        border-radius: 10px;
        padding: 10px;
        display: none;
    }

    .smenu::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(255, 255, 255, .7);
    }

    .smenu > ul > li {
        display: inline-block;
        width: 100%;
    }

        .smenu > ul > li > a {
            padding: 5px 10px;
            display: block;
            width: 100%;
            font-size: 1em;
            color: rgba(255, 255, 255, .7);
            font-weight: 400;
        }

            .smenu > ul > li > a > svg {
                margin-right: 10px;
            }

            .smenu > ul > li > a:hover {
                background: rgba(255, 255, 255, .08) !important;
            }


.rightcontentsec {
    width: 85%;
    float: right;
    height: 100%;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.conbse {
    margin-top: 47px;
    height: 100%;
    overflow: auto;
    background: #fff;
}

    .conbse::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(255,255,255,0.7);
    }

    .conbse::-webkit-scrollbar-track {
        border-radius: 0px;
        padding: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .conbse::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: rgba(46, 63, 80,0.7);
    }

.Registrationform {
    display: block;
    width: 100%;
    margin: 30px auto;
    padding: 30px 40px;
    background: #ffffff;
    position: relative;
    border: 2px, solid, #cbcbcb;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
    float: right;
}

.registration-form-control {
    background: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    padding-left: 5px;
    font-size: 12px;
    height: 25px;
    width: 50%;
    box-shadow: none;
}

    .registration-form-control:focus {
        border: solid 1px rgb(21, 137, 238);
        box-shadow: 0 0 3px #0070d2;
    }

.label--title {
    min-width: 45%;
    max-width: 45%;
}


.dropdown {
    width: 95%;
    border-radius: 5px;
    height: 26px;
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideOutLeft {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes slideOutLeft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes slideOutRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.selectorg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f4f5f8;
    padding: 10px;
    z-index: 9999999;
    overflow: auto;
}

    .selectorg > h2 {
        font-weight: 400;
    }

.leftlist {
    background: #fff;
    margin-top: 5px;
    border-radius: 2px 0px 0px 2px;
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    height: 200px;
    /* border-right: none; */
    overflow: auto;
}

    .leftlist::-webkit-scrollbar {
        width: 5px;
    }

    .leftlist::-webkit-scrollbar-track {
        border-radius: 10px;
        padding: 10px;
        display: none;
    }

    .leftlist::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, .7);
    }

    .leftlist > ul > li {
        display: inline-block;
        width: 100%;
    }

        .leftlist > ul > li > a {
            padding: 10px;
            display: block;
            border-bottom: 1px solid #eee;
            font-size: 1em;
            font-weight: 500;
            text-transform: capitalize;
        }

            .leftlist > ul > li > a:hover {
                background: #f4f4f4;
            }

.rightoption {
    float: right;
    padding: 2px;
    border-radius: 2px;
    background: #fff;
    width: 20%;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 0px 2px 2px 0px;
    height: 200px;
}

    .rightoption > ul > li {
        display: inline-block;
        width: 100%;
    }

        .rightoption > ul > li > a {
            padding: 10px;
            display: block;
            text-align: center;
            color: #fff;
            font-size: 1.1em;
            transition: all 0.4s ease-in-out;
        }
        /*#d9534f*/
        .rightoption > ul > li:nth-child(1) {
            background: #337ab7;
            border-bottom: 1px solid #2e6da4;
        }

        .rightoption > ul > li:nth-child(2) {
            background: #5cb85c;
            border-bottom: 1px solid #4cae4c;
        }

        .rightoption > ul > li:nth-child(3) {
            background: #5bc0de;
            border-bottom: 1px solid #46b8da;
        }

        .rightoption > ul > li:nth-child(4) {
            background: #d9534f;
            border-bottom: 1px solid #d43f3a;
        }

        .rightoption > ul > li > a > svg {
            float: left;
            transition: all 0.4s ease-in-out;
            margin-top: 2px;
        }

        .rightoption > ul > li:nth-child(1) > a:hover {
            background: #2e6da4;
        }

        .rightoption > ul > li:nth-child(2) > a:hover {
            background: #4cae4c;
        }

        .rightoption > ul > li:nth-child(3) > a:hover {
            background: #46b8da;
        }

        .rightoption > ul > li:nth-child(4) > a:hover {
            background: #d43f3a;
        }

        .rightoption > ul > li > a:hover svg {
            transform: rotate(360deg);
        }



.createorg > h3 {
    font-weight: 400;
}

.createorg .acform > form > ul > li {
    width: 33%;
}

    .createorg .acform > form > ul > li > div > .form-group > label {
        margin-bottom: 5px;
    }

    .createorg .acform > form > ul > li:nth-child(1) {
        width: 100%;
    }

        .createorg .acform > form > ul > li:nth-child(1) > div > .form-group .form-control {
            width: 100%;
            height: 35px;
        }

.title {
    background: #f4f4f4;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 25px;
}

    .title span {
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

        .title span svg {
            margin-right: 10px;
        }

.formbase {
    width: 100%;
    padding-top: 15px;
}

    .formbase > .form-group {
        margin-bottom: 3px;
    }

        .formbase > .form-group > label {
            font-weight: 600;
            font-size: 12px;
        }

    .formbase .form-control {
        font-size: 12px !important;
        height: 30px;
        text-transform: capitalize !important;
    }

.btn-group {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

    .btn-group span:nth-child(1) {
        margin-top: 10px;
    }

        .btn-group span:nth-child(1) a {
            font-weight: 600;
            text-decoration: underline;
        }

    .btn-group span:nth-child(2) input {
        font-size: 12px;
        width: 100%;
        padding: 8px;
        height: 35px;
    }

.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}

/* Alternative Angles */
.modal.fade:not(.in).top-left .modal-dialog {
    -webkit-transform: translate3d(-25%, -25%, 0);
    transform: translate3d(-25%, -25%, 0);
}

.modal.fade:not(.in).top-right .modal-dialog {
    -webkit-transform: translate3d(25%, -25%, 0);
    transform: translate3d(25%, -25%, 0);
}

.modal.fade:not(.in).bottom-left .modal-dialog {
    -webkit-transform: translate3d(-25%, 25%, 0);
    transform: translate3d(-25%, 25%, 0);
}

.modal.fade:not(.in).bottom-right .modal-dialog {
    -webkit-transform: translate3d(25%, 25%, 0);
    transform: translate3d(25%, 25%, 0);
}

.modal-backdrop.show {
    opacity: 0.8 !important;
}

.modal-content {
    border-radius: 0px !important;
}

.modal-header {
    background: #2E3F50 !important;
    border-top: 3px solid #ea2330 !important;
    border-radius: 0px !important;
    padding: 10px !important;
}

.modal-title {
    color: #fff;
}

.modal-header .close {
    color: #fff;
    font-weight: 100;
    font-size: 29px;
    margin-right: -10px;
    padding: 10px;
}

.inner-menu {
    display: inline-block;
    width: 100%;
    background: #fff;
    /* box-shadow: 0px 0px 4px rgba(0,0,0,0.4); */
    box-shadow: 0px 0px 8px rgba(203, 214, 226,0.5);
    /* padding: 10px; */
    border: 1px solid #cbd6e2;
}

    .inner-menu > .httl {
        font-size: 1.2em;
        padding: 11px;
        font-weight: 500;
        letter-spacing: 1px;
        border-bottom: 2px solid #ea2330;
    }

.btn-primary {
    font-size: 12px;
    font-weight: 500;
    color: #fff !important;
    border-color: #007bff !important;
    padding: 0.375rem 0.75rem !important;
}

.hlink {
    padding: 5px;
}

    .hlink > ul > li {
        display: inline-block;
        margin-right: 10px;
    }

        .hlink > ul > li > a {
            display: block;
            padding: -5px;
            padding: 7px 10px;
            border: 1px solid;
            border-color: rgb(203, 214, 226) rgb(203, 214, 226) rgb(203, 214, 226);
            border-radius: 3px;
            color: rgb(112, 110, 107);
        }

.btn-primary > svg {
    float: left;
    margin-top: 3px;
    margin-right: 6px;
}

.hlink > ul > li > .form-control {
    height: 30px !important;
}

.acform {
    width: 100%;
    display: inline-block;
    border: 1px solid #dee2e6;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(203, 214, 226,0.5);
    overflow: hidden;
    padding: 12px;
    transition: all 0.4s ease-in-out;
}


    .acform > form > ul > li {
        display: inline-block;
        width: 14%;
    }

        .acform > form > ul > li > div > .form-group > label {
            font-weight: 500;
            float: left;
            margin-bottom: 3px;
            margin-top: 4px;
            letter-spacing: 1.1px;
            margin-right: 5px;
        }

        .acform > form > ul > li > div > .form-group > .form-control {
            background: #fff;
            border: 1px solid #999;
            border-radius: 4px;
            padding-left: 5px;
            font-size: 12px;
            height: 26px;
            width: 95%;
            box-shadow: none;
            margin-bottom: 5px;
        }

        .acform > form > ul > li > div > .form-group > .field-validation-error {
            float: left;
            margin-top: 0px !important;
            height: 15px;
        }

    .acform .btn-success {
        width: 40%;
        border-radius: 3px;
        font-size: 12px;
        height: 27px;
        padding: 0px;
        margin-top: -3px;
    }

.modal-md {
    max-width: 400px !important;
}

.acform .SumoSelect {
    width: 100% !important;
    text-align: left;
    display: grid;
}

.acform p {
    line-height: 20px !important;
}

.SumoSelect.open > .optWrapper {
    top: 32px !important;
}

    .SumoSelect.open > .optWrapper > ul > li > label {
        margin-bottom: 0px;
    }

.formarea {
    background: #fff;
    margin: 7px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}

.formheader {
    display: inline-block;
    margin: 0 auto;
    /* width: 20%; */
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.1px;
    padding: 10px;
    text-align: center;
    color: #ea2330;
    border-bottom: 2px solid #ea2330;
}

.tab-base {
    margin-top: 10px;
    /* background: #fff; */
    display: block;
    padding-top: 0px;
    width: 100%;
    /* box-shadow: 0px 0px 8px rgba(203, 214, 226,0.5); */
    /* padding: 10px; */
    /* border: 1px solid #cbd6e2; */
}

.nav > li {
    position: relative;
    display: block;
}

.nav-tabs {
    margin-top: 20px;
}

    .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
    }

        .nav-tabs > li:first-child {
            margin-left: 15px;
        }

        .nav-tabs > li > a {
            margin-right: 2px;
            font-weight: 500;
            color: #808080;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
        }

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 2px solid #00887a !important;
    border-bottom-color: transparent;
    box-shadow: 0px -2px 8px rgba(203, 214, 226,0.5);
}

.nav-tabs > li > a {
    padding: 8px 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-top: 2px solid rgba(203, 214, 226,0.5);
    border-radius: 4px 2px 0px 0px;
    /* background: -webkit-linear-gradient(top, #fefefe 0%,#d1d1d1 100%); */
}

.tab-content {
    border-top: 0px;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(203, 214, 226,0.5);
}

.fbse {
    margin: 10px;
}

.modal {
    background: rgba(46, 63, 80,0.9);
}

.loading-center {
    z-index: 1000;
    margin: 15% auto;
    padding: 10px;
    width: 55px;
    background-color: White;
    border-radius: 2px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    filter: alpha(opacity=100);
    opacity: 1;
}

    .loading-center img {
        height: 35px;
        width: 35px;
    }

.date .calendarbase {
    display: inline-block;
}

.calendarbase {
    height: 15px;
    overflow: hidden;
    float: right;
    width: 17px;
    display: none;
    /* position: absolute; */
    margin-top: -37px;
    margin-right: 15px;
}

    .calendarbase img {
        width: 100%;
        height: 100%;
    }

.dtlbse {
    margin-top: 15px;
}

.acform .SumoSelect > .CaptionCont {
    border-radius: 4px;
    padding: 2px;
    width: 95%;
    font-size: 12px;
    border: 1px solid #999;
}

    .acform .SumoSelect > .CaptionCont > span.placeholder {
        color: #808080;
        font-weight: 200;
        font-style: inherit;
        font-size: 11px;
        padding-left: 4px;
    }

    .acform .SumoSelect > .CaptionCont > label {
        margin-bottom: 2px;
    }

.acform .SumoSelect .search-txt {
    padding: 1px 4px;
    font-size: 11px;
    font-weight: 200;
}

.acform .SumoSelect.open > .optWrapper {
    top: 25px !important;
    width: 80%;
}

.rttl {
    display: inline-block;
    width: 100%;
}

    .rttl > .lft {
        height: 35px;
        display: inline-block;
        font-size: 14px;
        border-bottom: 3px solid #00887a;
        font-weight: 500;
    }

    .rttl hr {
        margin-top: 35px;
    }

    .rttl .toptotal {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 100;
    }


.actionbse {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.acrght .form-control {
    background: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    padding-left: 5px;
    font-size: 12px;
    height: 26px;
    width: 100%;
    box-shadow: none;
}

.jq-toast-wrap.top-right {
    top: 60px !important;
    right: 20px !important;
}

.intopmenu {
    width: 100%;
    display: inline-block;
    border: 1px solid #dee2e6;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(203, 214, 226,0.5);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

    .intopmenu span {
        display: block;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
    }

.infoblock {
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.lftttl {
    display: block;
    width: 100%;
    font-size: 15px;
    /* text-align: center; */
    padding-top: 1%;
    padding-left: 10px;
    font-weight: 500;
    cursor: pointer;
    /* text-decoration: underline; */
}

    .lftttl svg {
        float: right;
        margin-right: 25px;
        cursor: pointer;
    }

.lst {
    margin-bottom: 50px !important;
}

.cstform {
    width: 100% !important;
}

.rgtfrm {
    width: 100%;
    padding-top: 1%;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    height: 0px;
}

.rgtfrmexp {
    height: 160px !important;
}

.infoblock .acform {
    border: 0px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    width: 89%;
    padding-left: 13px;
}

    .infoblock .acform > form > ul > li {
        width: 16%;
        margin-right: 0px;
    }

.infoblock .cstform > form > ul > li {
    width: 14%;
    margin-right: 0px;
}


.f {
    width: 100%;
    display: inline-block;
    border: 1px solid #dee2e6;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(203, 214, 226,0.5);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.empbse {
    float: right;
    width: 10%;
    text-align: center;
    margin-right: 10px;
}

.empimg {
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin-top: 25px;
    display: block;
    margin: 5px auto;
    margin-bottom: 0px;
    border-radius: 4px;
}

    .empimg img {
        height: 100%;
        width: 100%;
    }

.empbse input {
    margin-top: 5px;
    width: 90px;
    margin-left: 3px;
}

.cfm {
    height: 0px;
}

.afm {
    height: 0px;
}

.prfm {
    height: 0px;
}
