@using Newtonsoft.Json;
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="employeeform"></div>
<script src="@Url.Content("../../React/employee/registration.jsx")"></script>
