@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/bundles/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
</head>
<body>
    <div class="overlay-img">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="pull-right rmenu">
                        <ul>
                            <li><span>Support : +91-9650402952</span></li>
                            <li><span><i class="fa fa-microphone"></i> English <i class="fa fa-caret-down"></i></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="lgn-bdy">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
