@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/bundles/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
</head>
<body>
    <div class="lgnheader">
        <div class="container">
            <div class="row">
                <div class="rmenu">
                    <ul>
                        <li>
                            <span>Support : +91-9650402952</span>
                        </li>
                        <li>
                            <span><i class="fa fa-microphone"></i> English <i class="fa fa-caret-down"></i></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lgnbdy">
        <div class="banner">
            <div class="banner-circle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-xs-12 col-sm-6 col-md-4">
                            <div class="bnrdtl">
                                <h1>
                                    Welcome to IMS University
                                </h1>
                                <p>
                                    Learning is enabling the individual to utilize his/ her potential to its fullest.
                                    Without education, the training of the human minds is incomplete.
                                </p>
                                <a href="javascript:void(0)">Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-xs-12 col-sm-6 col-md-8">
                            <div class="lgnform">
                                <div class="tpara">
                                    <span class="pull-left">LOGIN</span>
                                </div>
                                <div class="form-group">
                                    <label>Username or Email address</label>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" />
                                    <p class="pull-right"><a href="javascript:void(0)">Forgot Password?</a></p>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btnDisable col-md-12">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-section">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</body>
</html>
