@using Newtonsoft.Json;
<script type="text/javascript">
    document.title = "Fee Collection Report";
    InitializeSelect();
</script>
<script src="~/Module_Script/fee/collection.js"></script>
<div class="esubmenu">
    <ul class="breadcrumb float-left">
        <li><a href="#">Home /</a></li>
        <li><a href="#">Pictures /</a></li>
        <li><a href="#">Summer 15 /</a></li>
        <li><a href="#" class="active">Summer 15</a></li>
    </ul>
    <div class="ever float-right">
        <span>Version : 0.0.1</span>
    </div>
</div>
<div class="pagebody">
    <div class="einrformbase">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#feewise">Fee Wise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#billwise">Bill Wise</a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#studentwise">Student Wise</a>
                </li>*@
        </ul>
        <div class="tab-content">
            <div class="tab-pane active show" id="feewise">
                <form name='FeeWise' class="tab-pane active show" method="post" id="FeeWise" onsubmit="return GetFeeWiseReport(this,'1');" noValidate>
                    <div class="einrformbase">
                        <ul class="einrform">
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="acYear">Academic Year</label>
                                        <select class="chosen-select ddl" name="acYear"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="course">Course</label>
                                        <select class="chosen-select ddl" name="course"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="semester">Semester</label>
                                        <select class="chosen-select ddl" name="semester">
                                            <option value="0">Select Semester</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="feeType">Fee Type</label>
                                        <select class="chosen-select ddl" name="feeType"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-info"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span>Show</button>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="row cstdown clearfix">
                    <hr />
                    <div class="actionbse">
                        <div id="feeWiseGrid" style="height:350px;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="billwise">
                <form name='BillWise' method="post" class="tab-pane active show" id="BillWise" noValidate onsubmit="return GetBillWiseReport(this,'2');">
                    <div class="einrformbase">
                        <ul class="einrform">
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="acYear">Academic Year</label>
                                        <select class="chosen-select ddl" name="bacYear"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="course">Course</label>
                                        <select class="chosen-select ddl" name="bcourse"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="semester">Semester</label>
                                        <select class="chosen-select ddl" name="bsemester">
                                            <option value="0">Select Semester</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-info"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span>Show</button>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="row cstdown clearfix">
                    <hr />
                    <div class="actionbse">
                        <div id="billWiseGrid" style="height:350px;" class="ag-theme-balham"></div>
                    </div>
                </div>
                <div id="hoverBase"></div>
            </div>
            <div class="tab-pane" id="studentwise">
                <form name='FeeDetail' method="post" class="tab-pane active show" id="FeeDetail" noValidate onSubmit="return ShowFeeDetails(this);">
                    <div class="einrformbase">
                        <ul class="einrform">
                            <li>
                                <div class="multiSelect">
                                    <div class="form-group">
                                        <label for="academicYear">Academic Year</label>
                                        <select class="chosen-select ddl" name="academicYear"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="multiSelect">
                                    <div class="form-group">
                                        <label for="courseId">Course</label>
                                        <select class="chosen-select ddl" name="courseId"></select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-info"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span>Show</button>
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="row cstdown clearfix">
                    <hr />
                    <div class="actionbse">
                        <div id="feeDtlGrid" style="height:350px;" class="ag-theme-balham"></div>
                    </div>
                    <div class="text-center">
                        <form name='SaveDetails' method="post" id="SaveDetails" noValidate onSubmit="return GetRowData(this)">
                            <button type="submit" class="btn btn-info"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span>Save Details</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<input type="text" style="display:none" value="A" name="flag" />
