@using Newtonsoft.Json;
<script type="text/javascript">
    document.title="Employee Management";
    var content = @Html.Raw(JsonConvert.SerializeObject(TempData["EmployeeData"]));
    InitializeSelect();
    InitializeDate();
    InitializeSelectList();
</script>
<script src="~/Module_Script/employee/manage.js"></script>
<div class="esubmenu">
    <ul class="breadcrumb float-left">
        <li><a href="#">Home /</a></li>
        <li><a href="#">Pictures /</a></li>
        <li><a href="#">Summer 15 /</a></li>
        <li><a href="#" class="active">Summer 15</a></li>
    </ul>
    <div class="ever float-right">
        <span>Version : 0.0.1</span>
    </div>
</div>
<div class="pagebody">
    <div class="einrformbase card pt-2 pl-2 pr-2">
        <div class="card-title">
            Employee Management
        </div>
        <div class="card-body">
            <div class="efltrform">
                <ul class="einrform">
                    <li>
                        <div class="text">
                            <div class="form-group">
                                <label for="empCode">Employee Code</label>
                                <input type="text" class="form-control" name="empCode" id="search"/>
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ddl">
                            <div class="form-group">
                                <label for="empDept">Department</label>
                                <select class="chosen-select ddl" name="empDept" id="ddlSearch">
                                    <option value="0">Select Depatment</option>
                                </select>
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ddl">
                            <div class="form-group">
                                <label for="empDesig">Designation</label>
                                <select class="chosen-select ddl" name="empDesig" id="ddlSearch">
                                    <option value="0">Select Designation</option>
                                </select>
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ddl">
                            <div class="form-group">
                                <label for="empType">Employee Type</label>
                                <select class="chosen-select ddl" name="empType" id="ddlSearch">
                                    <option value="0">Select Employee Type</option>
                                </select>
                                <span class="field-validation-error"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-info" onClick="getEmployeeFilter($('#search').val(),$('#ddlSearch').val())"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span>Filter</button>
                    </li>
                </ul>
            </div>
            <div class="action">
                <ul>
                    <li>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#employee" class="btn btn-secondary">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="357px" height="357px" viewBox="0 0 357 357" style="enable-background:new 0 0 357 357;" xml:space="preserve">
                            <g>
                            <g id="add">
                            <path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z" />

                                    </g>
                                </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="btn btn-secondary" onclick="onExportClick()">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M382.56,233.376C379.968,227.648,374.272,224,368,224h-64V16c0-8.832-7.168-16-16-16h-64c-8.832,0-16,7.168-16,16v208h-64 c-6.272,0-11.968,3.68-14.56,9.376c-2.624,5.728-1.6,12.416,2.528,17.152l112,128c3.04,3.488,7.424,5.472,12.032,5.472 c4.608,0,8.992-2.016,12.032-5.472l112-128C384.192,245.824,385.152,239.104,382.56,233.376z" />

                                    </g>
                                </g>
                            <g>
                            <g>
                            <path d="M432,352v96H80v-96H16v128c0,17.696,14.336,32,32,32h416c17.696,0,32-14.304,32-32V352H432z" />

                                    </g>
                                </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="actionbse">
                <div id="employeeGrid" style="height:350px;" class="ag-theme-balham"></div>
            </div>
        </div>
    </div>
</div>
<div id="employee" class="modal fade">
    <div class="modal-dialog modal-dialog-vertical-center modal-lg" role="document">
        <div class="modal-content bd-0 tx-14">
            <form name='EmpRegis' id="EmpRegis" noValidate method="post" onSubmit="return handleSubmit(this)">
                <div class="modal-header">
                    <h6 class="tx-14 tx-uppercase tx-inverse tx-bold">Profile Details</h6>
                    <button type="button" class="close" data-dismiss="modal" onClick="resetData()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body pd-25">
                    <div class="einrformbase">

                        <ul class="einrform ecustform">
                            <li>
                                <div class="text">
                                    <div class="form-group">
                                        <label for="empCode">Employee Code</label>
                                        <input type="text" class="form-control" name="empCode" disabled/>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <div class="form-group">
                                        <label for="empFirst">First Name</label>
                                        <input type="text" class="form-control" name="empFirst" isRequired="true"/>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <div class="form-group">
                                        <label for="empLast">Last Name</label>
                                        <input type="text" class="form-control" name="empLast" isRequired="true"/>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="text">
                                    <div class="form-group">
                                        <label for="empQuali">Qualification</label>
                                        <input type="text" class="form-control" name="empQuali" isRequired="true"/>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="empDept">Department</label>
                                        <select class="chosen-select ddl" name="empDept" isRequired="true">
                                            <option value="0">Select Department</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="empDesig">Designation</label>
                                        <select class="chosen-select" name="empDesig" isRequired="true">
                                            <option value="0">Select Designation</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="empType">Employee Type</label>
                                        <select class="chosen-select" name="empType" isRequired="true">
                                            <option value="0">Select Employee Type</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ddl">
                                    <div class="form-group">
                                        <label for="empJType">Job Type</label>
                                        <select class="chosen-select" name="empJType" isRequired="true">
                                            <option value="0">Select Job Type</option>
                                        </select>
                                        <span class="field-validation-error"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="empbse">
                            <div class="empimg">
                                <img src="" />
                            </div>
                            <div class="efinput">
                                Choose File
                                <input type="file" onChange="onChangeImage()" id="uploadedImg" class="hide_file" />
                            </div>

                        </div>

                    </div>
                    <hr />
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active show personalEmp" data-toggle="tab" href="#personal">Personal Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link addressEmp" data-toggle="tab" href="#address">Address Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link experienceEmp" data-toggle="tab" href="#experience">Last Employer Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link subjectEmp" data-toggle="tab" href="#subject">Subject Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link accountEmp" data-toggle="tab" href="#account">Account Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link authenticationEmp" data-toggle="tab" href="#authentication">Authentication Details</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="personal">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empFather">Father Name</label>
                                            <input type="text" class="form-control" name="empFather" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empMother">Mother Name</label>
                                            <input type="text" class="form-control" name="empMother" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="empSex">Gender</label>
                                            <select class="chosen-select" name="empSex" isRequired="true">
                                                <option value="0">Select Gender</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">
                                        <div class="form-group">
                                            <label for="empDOB">Date Of Birth</label>
                                            <input type="text" class="form-control chosen-date" name="empDOB" isRequired="true" />
                                            <span class="field-validation-error"></span>
                                        </div>
                                        <span class="calendarbase"><img src="../../Images/calendar.png" /></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">
                                        <div class="form-group">
                                            <label for="empDOJ">Date Of Joining</label>
                                            <input type="text" class="form-control chosen-date" name="empDOJ"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                        <span class="calendarbase"><img src="../../Images/calendar.png" /></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empSpoou">Spouse Name</label>
                                            <input type="text" class="form-control" name="empSpoou" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="empBGrp">Blood Group</label>
                                            <select class="chosen-select" name="empBGrp">
                                                <option value="0">Select Blood Group</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="empMStat">Marital Status</label>
                                            <select class="chosen-select" name="empMStat" isRequired="true">
                                                <option value="0">Select Marital Status</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empNation">Nationality</label>
                                            <input type="text" class="form-control" name="empNation" isRequired="true" />
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="address">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empAdres">Address Line 1</label>
                                            <input type="text" class="form-control" name="empAdres" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empAdres2">Address Line 2</label>
                                            <input type="text" class="form-control" name="empAdres2" />
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="empCount">Country</label>
                                            <select class="chosen-select" name="empCount" isRequired="true">
                                                <option value="0">Select Country</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="empState">State</label>
                                            <select class="chosen-select" name="empState" isRequired="true">
                                                <option value="0">Select State</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="empCity">City</label>
                                            <select class="chosen-select" name="empCity" isRequired="true">
                                                <option value="0">Select City</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empZip">Zip Code</label>
                                            <input type="text" class="form-control" name="empZip" isNumeric="true" isRequired="true" />
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empMobile">Mobile No</label>
                                            <input type="text" class="form-control" name="empMobile" isNumeric="true" lenCheck="true" max="10" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empPhone">Phone No</label>
                                            <input type="text" class="form-control" name="empPhone" isNumeric="true" lenCheck="true" max="4" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control" name="empEmail" isRequired="true" emailCheck="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="experience">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="preEmp">Employer Name</label>
                                            <input type="text" class="form-control" name="preEmp" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">
                                        <div class="form-group">
                                            <label for="preDOJ">Date Of Joining</label>
                                            <input type="text" class="form-control chosen-date" name="preDOJ" />
                                        </div>
                                        <span class="calendarbase"><img src="../../Images/calendar.png" /></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="date">
                                        <div class="form-group">
                                            <label for="empDOL">Date Of Leaving</label>
                                            <input type="text" class="form-control chosen-date" name="empDOL" />
                                        </div>
                                        <span class="calendarbase"><img src="../../Images/calendar.png" /></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="prePhone">Phone No</label>
                                            <input type="text" class="form-control" isNumeric="true" lenCheck="true" max="10" name="prePhone"/>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empExpre">Total Experience</label>
                                            <input type="text" class="form-control" isNumeric="true" name="empExpre" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empResLeav">Reason Of Leaving</label>
                                            <input type="text" class="form-control" name="empResLeav" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="preSal">Last Salary</label>
                                            <input type="text" class="form-control" isNumeric="true" name="preSal"/>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="subject">
                            <div class="selectBox">
                                <div class="form-group">
                                    <label for="empSub"></label>
                                    <select class="select-box" name="empSub">
                                    </select>
                                    <span class="field-validation-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="account">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empBank">Bank Name</label>
                                            <input type="text" class="form-control" name="empBank" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empAccNo">Bank Account No</label>
                                            <input type="text" class="form-control" name="empAccNo" isNumeric="true" lenCheck="true" max="14" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empIFSC">IFSC Code</label>
                                            <input type="text" class="form-control" name="empIFSC" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empAdhar">Adhaar Number</label>
                                            <input type="text" class="form-control" name="empAdhar" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empPF">PF Number</label>
                                            <input type="text" class="form-control" name="empPF" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empSalary">Current Salary</label>
                                            <input type="text" class="form-control" name="empSalary" isNumeric="true" isRequired="true"/>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="authentication">
                            <ul class="einrform">
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empLogin">Login Id</label>
                                            <input type="text" class="form-control" name="empLogin" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empPwd">Password</label>
                                            <input type="text" class="form-control" name="empPwd" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="text">
                                        <div class="form-group">
                                            <label for="empCPwd">Confirm Password</label>
                                            <input type="text" class="form-control" name="empCPwd" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="empRole">Role</label>
                                            <select class="chosen-select" name="empRole" isRequired="true">
                                                <option value="0">Select Role</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ddl">
                                        <div class="form-group">
                                            <label for="empAccStat">Account Status</label>
                                            <select class="chosen-select" name="empAccStat" isRequired="true">
                                                <option value="0">Select Account Status</option>
                                            </select>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info pd-x-20"><span class="inload hide"><i class="fa fa-spinner fa-spin"></i></span> Save</button>
                    <button type="button" class="btn btn-secondary pd-x-20" data-dismiss="modal" onClick="resetData();">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>