
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-bar">
    <div class="bread-custom">
        <h4>General Management</h4>
        <span>Masters</span>
    </div>
</div>

